<h1>Add a task for <%= @day.human_time %></h1>

<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_for(@task) do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :day_id, value: @day.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
<% end %>