<h1 class="day-title"><%= @day.human_time %></h1>

<%= render partial: 'day_nav', locals: { day: @day } %>

<%= render partial: '/layouts/flash_message_center' %>

<% if current_user.days.all.count <= 2 %>
<p>
  New to BuJo 3.0? <%= link_to "Get the basics!", help_path %>
</p>
<% end %>

<h2>Tasks
    <% if @day.date >= Time.zone.today.beginning_of_day %>
        <%= form_for(@task) do |f| %>
          <%= render partial: '/tasks/form', locals: {f: f} %>
          <div class="add icon">
            <%= f.submit "" %>
          </div>
        <% end %>
    <% end %>
</h2>


<% @day.tasks.each do |task| %>
  <div class="task">

    <%# task complete button %>
    <div class="task-component">
      <% if task.status == "complete" %>
        <div class="completed icon"></div>
      <% else %>
          <%= render partial: '/tasks/complete_button', locals: { task: task }%>
      <% end %>
    </div>

    <%# task content %>
    <div class="task-component content">
      <%= task.content %>
    </div>

    <%# task migrate button %>
    <%= render partial: '/tasks/migrate_button', locals: { task: task }%>

    <%# task edit button %>
    <%= render partial: '/tasks/edit_button', locals: { task: task }%>
    

    <%# task delete button %>
    <%= render partial: '/tasks/delete_button', locals: { task: task }%>
  <% end %>

  <%# migrated tasks start here %>
  <% if @migrations.count > 0 %>
    <% @migrations.each do |task| %>
    <div class="task">

    <%# migrated indicator%>
      <div class="task-component migrate icon"></div>

    <%# task content %>
      <div class="task-component content">
        <%= task.content %>
      </div>

    </div>
    <% end %>
  <% end %>