<h1 class="day-title"><%= @day.human_time %></h1>

<%= render partial: 'day_nav', locals: { day: @day } %>

<%= render partial: '/layouts/flash_message_center' %>

<% if current_user.days.all.count <= 2 %>
<p>
  New to BuJo 3.0? <%= link_to "Get the basics!", help_path %>
</p>
<% end %>

<h2>Tasks
    <% if @day.date >= Time.zone.today.beginning_of_day %>
        <%= link_to new_day_task_path(@day) do %>
            <div class="add icon"></div>
        <% end %>
    <% end %>

</h2>

<% if @day.tasks.count == 0 && @day.date >= Day.today(current_user.id).date %>
  <p class="help-text">
    <em>Click the "+" next to Tasks to add your first task.</em>
  </p>
<% end %>

<% @day.tasks.each do |task| %>
  <div class="task">

    <%# task complete button %>
    <div class="task-component">
      <% if task.status == "complete" %>
        <div class="completed icon"></div>
      <% else %>
          <%= form_for task do |f| %>
            <%= f.hidden_field :status, value: "complete" %>
            <div class="complete icon">
            <%= f.submit value: "" , class: "button-hide" %>
            </div>
          <% end %>
      <% end %>
  </div>

    <%# task content %>
    <div class="task-component content">
      <%= task.content %>
    </div>

    <%# task migrate %>
    <% if task.status != "complete" && @day.date != Day.tomorrow(current_user.id) %>
      <div class="task-component">
      <%= form_for task, url: task_migrations_path(task), method: :post do |f| %>
        <div class="migrate icon">
          <%= f.submit value: "" %>
        </div>
      <% end %>
      </div>
    <% end %>

    <%# task edit %>
    <div class="task-component">
      <%= link_to edit_day_task_path(@day, task) do %>
        <div class="edit icon"></div>
      <% end %>
    </div>

    <%# task delete %>
    <div class="task-component">
      <%= form_for task, method: :delete do |f| %>
        <div class="delete icon">
        <%= f.submit value: "" , class: "button-hide" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%# migrated tasks start here %>
  <% if @migrations.count > 0 %>
    <% @migrations.each do |task| %>
    <div class="task">

    <%# migrated indicator%>
      <div class="task-component migrate icon"></div>

    <%# task content %>
      <div class="task-component content">
        <%= task.content %>
      </div>

    </div>
    <% end %>
  <% end %>