<!DOCTYPE html>
<html>
  <head>
    <title>Bujo3Point0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="all-wrap" class="clearfix">
        <div id="menu-wrap">
            <img id="logo" src="/images/bujo_logo_30.png" alt="" />

            <div id="menu">
                <%= render partial: '/layouts/conditional_menu' %>

                <div class="line">
                </div>

                <%= link_to "Help", help_path %>
                <%= link_to "About", about_path %>
            </div>
        </div>

        <img id="bookmark" src="/images/bookmark-01.png" alt="" />

        <div id="content-wrap">
          <%= yield %>
        </div>
      
    </div>
  </body>
</html>
